<div class="col-xs-6">
<h1><a href=" "><img alt="" src="https://www.freelogodesign.org/file/app/client/thumb/6ceae3f1-a132-4618-b240-ea21fe5b370d_200x200.png?1570110685650" /></a></h1>
</div>
<div class="col-xs-6 text-right">
<h1>FACTURA</h1>
<h1><small>Factura #001</small></h1>
</div>
 
<div class="row">
    <div class="col-xs-5">
    <div class="panel panel-default">
    <div class="panel-heading">
    <h4>Empleado: <a >Nombre</a></h4>
    </div>
 
    </div>
    </div>
    <div class="col-xs-5 col-xs-offset-2 text-right">
    <div class="panel panel-default">
    <div class="panel-heading">
    <h4 class="ml-3">Para : <a >Nombre del Cliente</a></h4>
    </div>
    
    </div>
    </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
        <th>
        <h4>Producto</h4>
        </th>
        <th>
        <h4>Codigo</h4>
        </th>
        <th>
        <h4>Laboratorio</h4>
        </th>
        <th>
        <h4>Cantidad</h4>
        </th>
        <th>
        <h4>Precio</h4>
        </th>
        <th>
        <h4>Clasificacion</h4>
        </th>
        <th>                  
        <h4>Fecha de vencimiento</h4> 
        </th>
        <th>                  
        <h4>Total</h4> 
        </th>

        </tr>
        </thead>
        <tbody>
        <tr>
        <td>Vitamina C</td>
        <td class=" text-right ">12313</td>
        <td class=" text-right ">FarmLAB</td>
        <td class=" text-right ">5</td>
        <td class=" text-right ">500</td>
        <td class=" text-right ">Soluble</td>
        <td class=" text-right ">5 - octubre -2022</td>
        <td class=" text-right ">2.500 $</td>
        </tr>

        </tbody>
        </table>

        <div class="form-group">
                <button (click)="add()" class="btn btn-primary">Crear factura</button>
              </div> 
              